*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{

background: #3A294E;
height: 100vh;
background: linear-gradient(315deg, #3A294E, #0BE9EB);
}
.container
{
    height: 420px;
    width: 400px;
    /* border: 1px solid black; */
    position: relative;
    top: 145px;
    left: 35rem;
    background: rgba( 255, 255, 255, 0 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 20px );
-webkit-backdrop-filter: blur( 20px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
    animation:backInDown 2s ease 0s 1 normal forwards;
 }
 @keyframes backInDown {
    0% {
        opacity: 0;
        transform: translateY(-200px) scale(0.7);
    }
    80% {
        opacity: 1;
        transform: translateY(0) scale(1.05);
    }
    100% {
        transform: translateY(0) scale(1);
    }
}

/* Apply animation */
.animate-backInDown {
    animation: backInDown 1s ease-out;
}
.clock
{
    position: relative;
    top: 150px;
    font-size: 102px;
    left: 10px;
}